#  Examen Santiago Collaguazo

## 1) Crea un Dataframe de 10 registros y 6 columnas y consigue las 5 primeros y los 5 ultimos registros

In [6]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randint(0,10,60).reshape(10,6))
print('Primeros 5 registros')
print(df1.head(5))
print('Ultimos 5 registros')
print(df1.tail(5))

Primeros 5 registros
   0  1  2  3  4  5
0  6  5  8  5  0  0
1  3  2  4  5  0  9
2  2  3  6  6  8  4
3  9  7  5  5  6  9
4  0  9  3  2  1  2
Ultimos 5 registros
   0  1  2  3  4  5
5  8  4  3  0  0  8
6  0  5  8  7  2  8
7  2  5  5  7  3  8
8  2  4  8  7  0  5
9  9  6  1  0  4  9

## 2) Crear un dataframe pasando un arreglo de numpy de 6 x 4 con una fecha como indice y con columnas A, B, C, D randomico

```
                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988
```

In [12]:
from datetime import date
v2 = np.random.randint(0,5,24).reshape(6, 4)
c = ['A', 'B', 'C', 'D']
i = [date.today(),
           date.today(),
           date.today(),
           date.today(),
           date.today(),
           date.today()]
df2 = pd.DataFrame(v2, columns = c, index = i)
print(df2)

            A  B  C  D
2020-10-05  1  0  0  1
2020-10-05  3  3  4  2
2020-10-05  1  4  1  3
2020-10-05  2  4  1  2
2020-10-05  2  4  1  3
2020-10-05  2  1  3  1

## 4) Crear un Dataframe con 10 registros y 6 columnas y con una propiedad del Dataframe mostrar las columnas, con otro comando mostrar los valores.

In [17]:
df4 = pd.DataFrame(np.random.randint(0,10,60).reshape(10, 6))
print("Columnas\n ", df4.columns.tolist())
print("Valores\n", df4.values)

Columnas
  [0, 1, 2, 3, 4, 5]
Valores
 [[2 5 9 9 4 1]
 [0 6 6 2 6 0]
 [1 3 3 5 2 9]
 [0 6 7 3 4 5]
 [2 1 6 6 4 1]
 [5 9 1 0 7 7]
 [1 8 1 7 5 0]
 [0 0 6 4 8 3]
 [1 4 4 4 8 9]
 [0 9 3 3 8 9]]

## 5) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe describir estadisticamente el Dataframe

In [18]:
df5 = pd.DataFrame(np.random.randint(0,10,60).reshape(10, 6))
print(df4.describe())

               0          1          2         3        4          5
count  10.000000  10.000000  10.000000  10.00000  10.0000  10.000000
mean    1.200000   5.100000   4.600000   4.30000   5.6000   4.400000
std     1.549193   3.142893   2.633122   2.58414   2.1187   3.864367
min     0.000000   0.000000   1.000000   0.00000   2.0000   0.000000
25%     0.000000   3.250000   3.000000   3.00000   4.0000   1.000000
50%     1.000000   5.500000   5.000000   4.00000   5.5000   4.000000
75%     1.750000   7.500000   6.000000   5.75000   7.7500   8.500000
max     5.000000   9.000000   9.000000   9.00000   8.0000   9.000000

## 6) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe transponer los datos

In [19]:
df6 = pd.DataFrame(np.random.randint(0,10,60).reshape(10, 6))
print(df6.transpose())

   0  1  2  3  4  5  6  7  8  9
0  3  1  4  9  0  6  6  1  5  3
1  8  5  1  2  7  0  0  1  2  8
2  3  4  9  2  6  3  2  3  4  4
3  9  0  9  3  0  3  9  1  8  2
4  2  1  7  0  5  9  6  1  9  8
5  9  0  9  0  3  1  5  4  0  0

## 7) Crear un Dataframe con 10 registros y 6 columnas y Ordenar el dataframe 1 vez por cada columna, ascendente y descendente

In [21]:
df7 = pd.DataFrame(np.random.randint(0,10,60).reshape(10, 6))
df7_asc = df7.apply(lambda x: x.sort_values().values)
df7_des = df7.apply(lambda x: x.sort_values(ascending = False).values)
print(df7_asc)
print("\n", df7_des)

   0  1  2  3  4  5
0  0  0  2  1  1  0
1  1  1  3  1  1  1
2  2  2  3  3  2  2
3  3  6  3  3  2  3
4  3  7  4  3  4  4
5  4  8  4  5  6  5
6  4  8  5  5  7  5
7  5  9  5  6  7  5
8  6  9  6  7  8  5
9  9  9  9  9  9  7

    0  1  2  3  4  5
0  9  9  9  9  9  7
1  6  9  6  7  8  5
2  5  9  5  6  7  5
3  4  8  5  5  7  5
4  4  8  4  5  6  5
5  3  7  4  3  4  4
6  3  6  3  3  2  3
7  2  2  3  3  2  2
8  1  1  3  1  1  1
9  0  0  2  1  1  0


## 8) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y seleccionar en un nuevo Dataframe solo los valores mayores a 7

In [26]:
df8 = pd.DataFrame(np.random.randint(1, 11,60).reshape(10,6))
df8_may = df8 > 7
print(df8_may)
df8_may = df8[df8_may]
print(df8_may)

       0      1      2      3      4      5
0   True   True   True  False  False  False
1  False   True  False   True  False  False
2  False  False  False  False   True   True
3  False   True  False  False  False   True
4  False  False  False  False  False   True
5  False   True   True  False   True   True
6  False  False  False   True  False  False
7  False   True  False  False   True  False
8   True  False  False  False  False   True
9   True  False  False   True  False  False
      0     1    2     3    4     5
0   8.0   9.0  8.0   NaN  NaN   NaN
1   NaN   9.0  NaN   8.0  NaN   NaN
2   NaN   NaN  NaN   NaN  8.0   9.0
3   NaN   9.0  NaN   NaN  NaN   8.0
4   NaN   NaN  NaN   NaN  NaN   9.0
5   NaN  10.0  9.0   NaN  8.0   9.0
6   NaN   NaN  NaN  10.0  NaN   NaN
7   NaN   9.0  NaN   NaN  9.0   NaN
8   8.0   NaN  NaN   NaN  NaN  10.0
9  10.0   NaN  NaN   9.0  NaN   NaN

## 9) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 o valores NaN. Luego llenar los valores NaN con 0.

In [33]:
df9 = pd.DataFrame(np.random.randint(1,11,60).reshape(10, 6))
df9_nan = df9 > 5
df9_nan = df9[df9_nan]
print(df9_nan.fillna(0))

     0     1     2     3    4     5
0  7.0   0.0   0.0  10.0  0.0   9.0
1  0.0  10.0   8.0   7.0  0.0   0.0
2  0.0   9.0  10.0   9.0  9.0  10.0
3  0.0   0.0   7.0   8.0  7.0   8.0
4  0.0   0.0   6.0   8.0  0.0   0.0
5  0.0   7.0   6.0   0.0  6.0   0.0
6  0.0   8.0   9.0   8.0  6.0   0.0
7  9.0   0.0   0.0   0.0  0.0   0.0
8  6.0  10.0   0.0   6.0  0.0   0.0
9  7.0   7.0   9.0   0.0  0.0   9.0

## 10) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y sacar la media, la mediana, el promedio

In [35]:
df10 = pd.DataFrame(np.random.randint(1,11,60).reshape(10, 6))
print("Media",df10.mean())
print("\nMediana",df10.median())
print("\nPromedio",np.average(df10))

Media 0    4.2
1    6.9
2    6.0
3    6.2
4    7.4
5    5.6
dtype: float64

Mediana 0    4.0
1    7.0
2    5.0
3    7.0
4    8.0
5    4.5
dtype: float64

Promedio 6.05


## 11) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10, luego crear otro dateframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y anadirlo al primer Dataframe

In [37]:
df11_1 = pd.DataFrame(np.random.randint(1,11,60).reshape(10,6))
df11_2 = pd.DataFrame(np.random.randint(1,11,60).reshape(10,6))
df11 = df11_1.append(df11_2)
print(df11)

    0  1   2   3   4  5
0  10  9   4   2   1  9
1   9  8   8   5   7  7
2  10  2   1   1   6  4
3   1  9   3   9   6  6
4   5  8   1   8   1  3
5   6  1   1  10   3  9
6   7  6   3  10   6  6
7   9  3  10   4   1  1
8   8  8  10   7   7  5
9   7  8   3   5   5  8
0   1  7   5   4   9  9
1   4  4  10   1   2  1
2  10  4   4   7   9  2
3   4  8   8   9   9  8
4   2  1   3   6   3  9
5  10  7   7   8   9  6
6   6  5   7   7   3  1
7   9  9   3   6  10  5
8  10  4   5   9   7  3
9   4  5   1   6   7  6

## 12) Crear un Dataframe con 10 registros y 6 columnas llenas de strings. Luego, unir la columna 1 y 2 en una sola, la 3 y 4, y la 5 y 6 concatenando su texto.

In [44]:
df12 = pd.DataFrame(np.random.choice(['aa','bb','cc','dd','ee','ff'], 60).reshape(10,6))
df_unida = pd.DataFrame(df12[0]+df12[1])
df_unida[1] = pd.DataFrame(df12[2]+df12[3])
df_unida[2] = pd.DataFrame(df12[4]+df12[5])
print(df_unida)

      0     1     2
0  bbbb  ffaa  ddaa
1  ccaa  bbee  eecc
2  ddcc  aaee  ddee
3  cccc  ddbb  bbff
4  eebb  ffee  bbbb
5  bbcc  bbee  aadd
6  eebb  aabb  ccdd
7  dddd  ffee  eeaa
8  ddcc  ddcc  ffbb
9  aaee  ddbb  ccee

## 13) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 enteros, obtener la frecuencia de repeticion de los numeros enteros en cada columna

In [47]:
df13 = pd.DataFrame(np.random.randint(1,11,60).reshape(10, 6))
print("Dataframe\n", df13)
for col in df13.columns:
    print("\n",df13[col].value_counts())

Dataframe
     0   1   2  3   4   5
0   7   7  10  9   9   5
1   6   2   9  7  10   6
2   3   1   7  4   4   5
3   1   6   6  1   6  10
4  10   1   2  7   6   3
5   7   8  10  9   9   4
6   5   8   2  6   8   9
7   2  10   1  3  10   6
8   5   3   6  4   1   6
9   5   1   5  9   4   2

 5     3
7     2
10    1
6     1
3     1
2     1
1     1
Name: 0, dtype: int64

 1     3
8     2
10    1
7     1
6     1
3     1
2     1
Name: 1, dtype: int64

 10    2
6     2
2     2
9     1
7     1
5     1
1     1
Name: 2, dtype: int64

 9    3
7    2
4    2
6    1
3    1
1    1
Name: 3, dtype: int64

 10    2
9     2
6     2
4     2
8     1
1     1
Name: 4, dtype: int64

 6     3
5     2
10    1
9     1
4     1
3     1
2     1
Name: 5, dtype: int64

## 14) Crear un Dataframe con 10 registros y 3 columnas, A B C, llenas de números randomicos del 1 al 10 enteros. Crear una nueva columna con el calculo por fila (A * B ) / C

In [48]:
df14 = pd.DataFrame(np.random.randint(1,11,30).reshape(10, 3), columns = ['A', 'B', 'C'])
resp = (df14['A']*df14['B'])/df14['C']
df14['New'] = resp
print(df14)

    A   B  C        New
0   7   3  3   7.000000
1   8  10  4  20.000000
2  10   4  4  10.000000
3   7   7  2  24.500000
4   2   2  7   0.571429
5   7   2  5   2.800000
6   3   9  1  27.000000
7   4   6  4   6.000000
8   3   7  2  10.500000
9   5   9  8   5.625000